<div class="register-container">

    <form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h1 class="register-title">Create account</h1>

        <div class="row">
            <div class="label-input-form">
                <label for="firstName">First name</label>
                <input id="firstName" type="text" formControlName = "firstName">
            </div>
            
            <div class="label-input-form">
                <label for="lastName">Last name</label>
                <input id="lastName" type="text" formControlName = "lastName">
            </div>
        </div>

        <div class="row">
            <div class="label-input-form">
                <label for="email">Email</label>
                <input id="email" type="text" formControlName = "email">
            </div>
        </div>
        <div class="row">
            <div class="label-input-form">
                <label for="password">Password</label>
                <input id="password" type="password" formControlName = "password">
            </div>
        </div>
        <div class="row">
            <div class="label-input-form">
                <label for="rPassword">Repeat password</label>
                <input id="rPassword" type="password" formControlName = "rPassword">
            </div>
        </div>
        
        <button class="btn wide btn-orange submit-registration-btn" type="submit">Register</button>
    </form>
</div>