<div class="register-container">

    <h1>Register</h1>
    <form class="form-group" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <label for="email">Email</label>
        <input id="email" type="text" formControlName = "email">
        <label for="password">Password</label>
        <input id="password" type="text" formControlName = "password">
        <label for="rPassword">Repeat password</label>
        <input id="rPassword" type="text" formControlName = "rPassword">

        <label for="firstName">First name</label>
        <input id="firstName" type="text" formControlName = "firstName">
        <label for="lastName">Last name</label>
        <input id="lastName" type="text" formControlName = "lastName">
        
        <label for="phoneNumber">Phone number</label>
        <input id="phoneNumber" type="text" formControlName = "phoneNumber">
        <label for="country">Country</label>
        <input id="country" type="text" formControlName = "country">
        <label for="city">City</label>
        <input id="city" type="text" formControlName = "city">
        
        <button type="submit">Register</button>
    </form>
</div>