img{
    width: 130px;
    height: 100px;
    border: 1px solid #E0E7EF;
}

div.item-container{
    display: flex;
    flex-direction: row;
    align-items: center;


    background-color: white;/*
    border: 1px rgb(187, 182, 182) solid;
    border-radius: 4px;
*/
    border: 1px solid #D0D7DE;
    border-radius: 3px;



    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    width: 700px;
    height: fit-content;
    cursor: pointer;
}

div.item-container:hover{
    outline: 2px solid rgba(128, 128, 128, 0.445);
}

.item-container-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding: 8px;
}

.q{
    display: block;
    width: 100%;
    text-align: center;
}



.yes,.no{
    width: 60px;
    height: 35px;
    height: fit-content;
    margin-top: 3px;

    border-radius: 4px;
    font-weight: 500;
    border: none;
    color: white;
}

.yes:hover, .no:hover{
    outline: 2px solid rgba(128, 128, 128, 0.445);
}

.yes{
    background-color: #f70000;
//rgb(238, 38, 38)
    margin-left: 10px;
}

.no{
    background-color: #F7A400;
}

.naslov-container{
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 200px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

a,p{
    display: inline-block;
    overflow-wrap: anywhere;
}

.cena-div{
    width: 180px;
    height: 100px;
}

.delete-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 120px;
    z-index: 2;
}

.delete-btn{
    width: fit-content;
    height: fit-content;
    padding: 5px;

    border-radius: 4px;
    border: 1px solid #889397;
    background-color: #F9FBFA;
    font-weight: 500;
}

.delete-btn:hover{
    outline: 2px solid rgba(128, 128, 128, 0.445);
}

.posted-div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 130px;
    height: 100px;
    color: #6C757D;
}

.text-secondary{
    line-height: 15px;
}

.opis{
    margin-top: 3px;
    font-size: small;
}

.cena{
    color: brown;
}