
<div class="page-nav-container">
    <div class="placeholder-arrow-div">
        <div *ngIf="selectedPage > 0" (click)="selectPage(selectedPage-1)" class="arrow left-arrow select-page-arrow"></div>
    </div>
        <div *ngFor="let page of pages" (click)="selectPage(page.value)" [class]="'select-page ' + (selectedPage === page.value? 'selected': '')" >{{page.text}}</div>
    <div class="placeholder-arrow-div">
        <div *ngIf="selectedPage < pagesTotal-1" (click)="selectPage(selectedPage+1)" class="arrow right-arrow select-page-arrow"></div>
    </div>
</div>
