div.page-nav-container{
    display: flex;
    flex-direction: row;
    
    flex: 1;

    justify-content: center;
    align-items: center;

    flex-wrap: wrap;

    height: 40px;
    width: 80%;

    //background-color: red;
}

div.placeholder-arrow-div{
    width: 35px;
}


div.select-page, div.select-page-arrow{
    position: relative;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 2px;
    margin-right: 2px;

    border-radius: 100%;
    padding: 10px;

    border: 1px solid #D0D7DE;
}

div.select-page-arrow:hover{
    cursor: pointer;
}

div.select-page:hover{
    //background-color: rgb(112, 226, 127);
    //color: white;
    outline: rgb(96, 177, 224) solid 1px;
    cursor: pointer;
}

div.selected{
    background-color: rgb(96, 177, 224);
    color: white;
}

// div.left-arrow:after:before{
//     position: absolute;
//     display: block;

//     content: '';
//     width: 20px;
//     height: 5px;
//     background-color: black;
// }

div.arrow{
    border: none;
}
div.arrow:hover{
    background-color: rgba(0, 0, 0, 0);
}

div.right-arrow::after, div.right-arrow::before,
div.left-arrow::after, div.left-arrow::before{
    position: absolute;
    display: block;

    content: '';
    width: 38%;
    height: 3px;
    background-color: #717579;
}

div.right-arrow::after{
    transform: translateY(-150%) rotate(45deg);
}
div.right-arrow::before{
    transform: translateY(150%) rotate(-45deg);
}

div.left-arrow::after{
    transform: translateY(-150%) rotate(-45deg);
}
div.left-arrow::before{
    transform: translateY(150%) rotate(45deg);
}