<header>
    <div class="logo-div">
        <img src="assets/samplelogo.png" class="logo" alt="logo">
    </div>
    <div class="search-div">
        <input class="search-bar" [(ngModel)]="inputVal" placeholder="Search..."/>
        <button class="search-btn" (click)="onSearch()">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        </button>
    </div>
    <button (click)="onAddNewAnnouncement()" class="add-btn">+ New announcement</button>
</header>

<div class="content-div">
    <div class="left-div">
        <div class="categories-div">
            <label class="category-label">Category</label>
            <div class="horizontal-separator"></div>
            <div (click)="selectCategory(null)" 
            [class]="'categ-option '+(selectedCategoryId? '':'selected-categ')">All</div>
            <div *ngFor="let categ of allCategories$ | async" (click)="selectCategory(categ.id)" 
            [class]="'categ-option ' + ((selectedCategoryId && (categ.id == selectedCategoryId))? 'selected-categ':'')">{{categ.title}}</div>
        </div>
    </div>
    <div class="main-div">
        <app-page-nav></app-page-nav>
        <div *ngFor="let ann of announcements$ | async">
            <app-announcement  [announcement]="ann"></app-announcement>
        </div>
        <div *ngIf="entityCount == 0" class="no-items">
            No items found
        </div>
        <app-page-nav class="bottom-nav"></app-page-nav>
        <!--<div *ngIf="" class="no-items">No items found</div>-->
    </div> 
    <div class="right-div">
        <div class="account-div">
            <label class="account-label">Account</label>
            <div class="horizontal-separator"></div>
            <label *ngIf="userInfo$ | async as user"><i class="fas fa-user"></i> {{user.first_name}}</label>
            <label *ngIf="userInfo$ | async as user">{{user.user_email}}</label>
            <div class="horizontal-separator"></div>
            <div class="account-option" (click)="goToAccountSettings()"><i class="fas fa-gear"></i> Account settings</div>
            <div class="account-option" (click)="logout()"><i class="fas fa-right-from-bracket"></i> Logout</div>
        </div>
    </div>  
</div>

<footer>

</footer>