header{
    height: 78px;
    border-bottom: 1px solid rgb(212, 212, 212);
    background-color: rgb(251, 251, 251);
    display: flex;
    align-items: center;
    justify-content: center;
}


footer{
    height: 78px;
    background-color: black;
}

//content
.content-div{
    display: flex;
    flex: 1;
    margin-top: 20px;
    flex-direction: row;
}
.left-div{
    display: flex;
    flex: 0.5;
    justify-content: end;
}
.main-div{
    display: flex;
    flex-direction: column;
   
    height: 100vh;
    width: 702px;
}
.right-div{
    display: flex;
    flex: 0.5;
    justify-content: start;
}
//--
.search-div{
    display: flex;
    flex-direction: row;
    width: 600px;
}

.search-bar{
    width: 500px;
    height: 30px;
    outline: none;
    padding-left: 10px;
}

.search-bar:focus{
    outline: none;
    border: 1px solid #00679E;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
}

.search-btn{
    //margin-left: 2px;
    border: 1px solid #00679E;
    background-color: #00679E;
    color: white;
    width: 44px;
    height: 36px;
}
.search-btn:hover{
    background-color: #0079b9;
    cursor: pointer;
}

.logo-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 100px;
}

.logo{
    width: 100px;
    height: 45px;
    margin-bottom: 20px;
}
.logo:hover{
    cursor: pointer;
}

.add-btn{
    width: 150px;
    height: 36px;
    background-color: #F6AE2D;
    border: none;
    margin-left: 50px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
}

.add-btn:hover{
    background-color: #eba72a;
    cursor: pointer;
}
//-----------------------
.account-div{
    min-width: 160px;
    height: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D0D7DE;
    border-radius: 3px;
    margin-left: 20px;
    margin-top: 50px;
}

.horizontal-separator{
    height: 1px;
    width: 130px;
    background: #ccd8e4;
}

.account-label{
    color: rgb(54, 56, 58);
    font-size: 18px;
    font-family: PT Sans,sans-serif;
    font-weight: 400;
}

//-----------------------
.categories-div{
    min-width: 130px;
    height: 500px;
    padding: 10px;
    background-color: white;
    border: 1px solid #D0D7DE;
    border-radius: 3px;
    margin-right: 20px;
    margin-top: 50px;
}

.horizontal-separator{
    height: 1px;
    width: 130px;
    background: #ccd8e4;
    margin-bottom: 10px;
}

.category-label{
    color: rgb(54, 56, 58);
    font-size: 18px;
    font-family: PT Sans,sans-serif;
    font-weight: 400;
}

.categ-option, .account-option{
    color: rgb(38, 61, 85);
    cursor: pointer;
}
.categ-option:hover, .account-option:hover{
    background-color: rgba(146, 189, 235, 0.582);
    text-decoration: underline;
}

.selected-categ{
    background-color: rgba(146, 189, 235, 0.582);
}