<header>
    <div class="logo-div">
        <img src="assets/samplelogo.png" class="logo" alt="logo">
    </div>
    <div class="search-div">
        <input class="search-bar" placeholder="Search..."/>
        <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
        </button>
    </div>
    <button class="add-btn">+ New announcement</button>
</header>

<div class="content-div">
    <div class="left-div">
        
    </div>
    <div class="main-div">

    </div> 
    <div class="right-div">

    </div>  
</div>

<footer>

</footer>